.btn {
	width: 100px;
	height: 40px;
	font-family: 'Montserrat';
	color: white;
	font-weight: 500;
	background-color: $main-blue-100;
	box-shadow: none;
	border: 0;
	border-radius: 4px;
	font-size: 0.9rem;
	letter-spacing: -1px;
}