@import '@/assets/scss/colours.scss';

.btn {
	width: 100px;
	height: 40px;
	font-family: 'Montserrat';
	color: white;
	font-weight: 500;
	background-color: $main-blue-100;
	box-shadow: none;
	border: 0;
	border-radius: 4px;
	font-size: 0.9rem;
	letter-spacing: -1px;
	cursor: pointer;
}

.header {
	font-size: 28px;
	font-family: 'Montserrat';
	font-weight: 800;
	font-style: italic;
	padding: 20px;
	margin: 0;

	background-image: $main-gradient-blue;
	background-clip: text;
	color: transparent;
	background-size: 400%;

	animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}